@import "../../../constants.scss";

.header-container {
  background: $background-gray;

  &.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    padding: 2rem;

    &__link {
      margin-right: 3rem;

      color: $red;
      font-size: 2rem;
    }

    &__link:hover {
      color: $white;
    }
  }

  &.app-title {
    display: block;
    height: 6rem;
    padding: 1rem;

    text-align: center;
    font-size: 3rem;
    background-color: $dark-gray;
    color: white;
  }
}
