@import "../constants.scss";

.app-container {
  width: 100vw;
  height: 100vh;

  font-size: 2rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main-view"
    "footer";

  .header {
    grid-area: header;
  }

  .main-view {
    grid-area: main-view;

    padding: 1rem;

    background: $gray-transparent;
  }

  .footer {
    grid-area: footer;
  }
}
