<div *ngIf="currentArticle$ | async as article">
  <div class="news-item" *ngIf="article.title; else noArticle">
    <div class="news-item__info-container">
      <img
        *ngIf="article.urlToImage !== 'null'"
        [src]="article.urlToImage"
        alt="news item image"
        class="news-item__info-container image"
      />

      <div class="news-item__info-container info">
        <h3 class="news-item__info-container info__title">
          {{ article.title }}
        </h3>
        <p class="news-item__info-container info__date">
          Date: {{ article.publishedAt | date: "short" }}
        </p>
        <p class="news-item__info-container info__description">
          {{ article.description }}
        </p>
      </div>
    </div>

    <div
      class="news-item__buttons"
      *ngIf="article.myNews && article.myNews === true"
    >
      <a
        routerLink="/edit"
        class="news-item__buttons button"
        (click)="onEditArticle(article)"
        >Edit
      </a>
      <a class="news-item__buttons button">Delete</a>
    </div>
  </div>
  <ng-template #noArticle>
    <p class="no-article">
      No article was found
    </p>
  </ng-template>
</div>
