<div class="news-filter">
  <div
    class="sources-filter"
    [ngClass]="{
      'sources-filter-disabled': isOnlyMyArticles.checked
    }"
  >
    <a class="sources-filter__current">
      {{
        (currentSource$ | async)?.length
          ? (currentSource$ | async)
          : "Choose news source"
      }}
    </a>
    <div class="sources-filter__options">
      <a
        *ngFor="let source of sources$ | async"
        class="sources-filter__option"
        (click)="onSourceChange($event)"
        [attr.data-srcid]="source.id"
      >
        {{ source.name }}
      </a>
    </div>
  </div>

  <input
    class="news-list-filter"
    type="text"
    placeholder="Type your text to filter news..."
    [value]="currentNewsFilter$ | async"
    (keyup.enter)="onEnterNewsFilter($event)"
  />

  <div class="checkbox-container">
    <input
      #isOnlyMyArticles
      class="checkbox-container__input"
      type="checkbox"
      id="createdByMe"
      name="createdByMe"
      [checked]="isOnlyMyArticles$ | async"
      (click)="onCheckboxClicked($event)"
    />
    <label class="checkbox-container__label" for="createdByMe">
      Only created by me
    </label>
  </div>

  <a routerLink="/edit" class="news-create-button" (click)="onAddArticle()">
    Add Article
  </a>
</div>
